# User preferences that control popup tooltips throughout Rally.
# This list is expected to grow/change over time as the U/X team updates Rally.
# This list determines if specific tooltips should be shown or not.
# For demo env resets, we mostly want to disable them as they can be annoying. ;)
#
# FORMAT: name|value
# note: name and value are determined by Rally Eng; value should be true/false but confirm with them
# note: blank lines or whitespace do not matter
tooltip.webtab.notype|true
tooltip.tagpicker.starttyping|true
tooltip.storysplitting.gear|true
portfolioitem.new.badge|true
detail.short.link.new.info|true
portfolioitem.timeline.page.new.badge|true
portfolioitem.inventory.page.new.badge|true
newmenus.notification.dismissed|true
notification.viewed|true
dashboard.prefer.new.style|true
bulk.task.copy.iteration.status.new.info|true
dashboard.bulk.edit.badge|true
legacy.bulk.edit.badge|true
RedesignedHeaderSplashScreen|true
